[client]
port=$(mysql_port)
socket=$(pwd)/mysql/mysql.sock

[mysqld]
;secure_file_priv=$(pwd)/mysql/tmp
;skip-grant-tables
tmp_table_size=134217728
innodb_buffer_pool_size=1073741824
bind-address=0.0.0.0
socket=$(pwd)/mysql/mysql.sock
lc-messages-dir=$(pwd)/mysql/share
lc-messages=en_US
port=$(mysql_port)
basedir=$(pwd)/mysql
datadir=$(pwd)/mysql/data
pid-file=$(pwd)/mysql/mysql.pid
log_error=$(pwd)/mysql/error.log
server-id=100
default_authentication_plugin=mysql_native_password
tmpdir=$(pwd)/tmp
